<div class="banner">
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src="assets/images/ba1.jpg" alt="">
	</div>
	<div class="col-sm-6 matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides callbacks callbacks1" id="slider">
	        		<li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out;">
	          			<img src="assets/images/1.jpg" alt="">
	       			 </li>
			 		 <li id="callbacks1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
	          			<img src="assets/images/2.jpg" alt="">   
	       			 </li>
					 <li id="callbacks1_s2" class="callbacks1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 500ms ease-in-out;">
	          			<img src="assets/images/1.jpg" alt="">
	        		</li>	
	      		</ul><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3 callbacks_here"><a href="#" class="callbacks1_s3">3</a></li></ul>
	 	 	</div>
		</div>
	</div>
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src="assets/images/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>